<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head  >
		<meta charset="ISO-8859-1">
		<title>bank application</title>
		
		
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
	</head>
	<body>
		<div align="center" class="container my-2">
			<h1>Services for INDIAN BANK</h1>
			<table border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Services</th>
						
						<th>Bank Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bank_service : ${Bankservice}">
										<td th:text="${bank_service.servicename}"></td>
										
										<td th:text="${bank_service.bankname}"></td>
				</tbody>
			</table>
			
		</div>
	</body>
</html>
